* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section {
    padding: 20px 0px;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}